certifi==2023.11.17
charset-normalizer==3.3.2
future==0.18.3
idna==3.6
iso8601==2.1.0
pyserial==3.5
PyYAML==6.0.1
requests==2.31.0
schedule==1.2.1
toml==0.10.2
tzlocal==5.2
urllib3==2.1.0
opencv-python==4.10.0.84
pyudev==0.23.1